<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyNEOWallet.info</title>
    <meta name="description" content="MyNEOWallet is an open-source, secure, and free online utility for generating NEO wallets, sending and receiving NEO transactions, and claiming GAS.">
    <meta property="og:title" content="MyNEOWallet.info: Open-source and secure online NEO wallet" />
    <meta property="og:description" content="MyNEOWallet is an open-source, secure, and free online utility for generating NEO wallets, sending and receiving NEO transactions, and claiming GAS." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= current_url_no_params %>" />
    <meta property="og:image" content="<%= asset_path 'neo_background.jpg' %>" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112244484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-112244484-1');
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <div id="main-container" class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
